/*   STATES
 **************/



/* General Hover States */

a {
	@include transition(color)
	&:hover,
	&:active,
	&:focus {
		color: $hover;
	}
}

svg {
	@include transition(transform)
	&:hover,
	&:active,
	&:focus {
		color: $hover;
		transform: scale(1.1);
	}
}



